/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

/* ---------------------------------------------------- */
h1 {
  text-align: center;
}

.tym {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.osoba {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  border: 1px solid rgb(236, 236, 236);
  margin: 20px;
  box-sizing: border-box;
  flex-grow: 1;
  justify-content: center;
}
/*flex grow jeste overit * nutn0 pridat velikost boxu*/
.popis {
  text-align: center;
  margin: 20px;
}

img {
  border-radius: 50%;
  align-items: center;
  padding-top: 15px;
  overflow: auto;
}

@media screen and (min-width: 0) and (max-width: 540px) {
  .tym {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .osoba {
    width: 100%;
    align-items: center;
    padding: 25px;
  }
  .popis {
    overflow: auto;
    padding: 20px;
  }
}

@media screen and (min-width: 540px) and (max-width: 690px) {
  .tym {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .osoba {
    width: 40%;
    flex-direction: row;
    display: flex;

    flex-grow: 1;
  }
  img {
    overflow: auto;
    padding: 10px;
    width: 120px;
  }
  .popis {
    overflow: auto;
    padding: 0px;
    text-align: justify;
  }
}
@media screen and (min-width: 690px) {
  .tym {
    justify-content: center;
  }
  .osoba {
    width: 25%;
  }
  .popis {
    overflow: auto;
    padding: 20px;
  }
}
